<div class="mt-5 container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>My Page</h2>
        登録情報
        <%= link_to "編集する", edit_customer_path %>
    </div>
  </div>
</div>