<div class="mt-5 container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>ようこそ fukutani coffee へ</h3>
      <div class="top">
        <%= image_tag "coffee", size:"500x500", class:"img-fluid" %>
        <p>
          　　　厳選された豆<br>
          芳醇なコーヒーを堪能あれ
        </p>
      </div>
    </div>
  </div>
</div>